APP_ENV=development
APP_DATABASE_URL=postgres://local:local@127.0.0.1:5432/api?sslmode=disable
APP_AUTH_HMAC_SECRET=
APP_AUTH_ISSUER=go-api-boilerplate
APP_AUTH_AUDIENCE=go-api
APP_HTTP_ADDRESS=127.0.0.1:8080
